.body {
  background-color: white;
  border-radius: 10px;
  padding: 30px 30px;
  min-width: calc(100vh - 20px);
}
.error {
  color: red;
}
.heading {
  border-bottom-color: #ddd;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}
.input {
  display:flex;
  justify-content: space-evenly;
  padding: 6px;
}
.inputTop {
  display:flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #eee;
  min-height: calc(100vh - 90px);
  padding: 20px;
  overflow: auto;  
}
.numbers {
  width: 207px;
}
.requiredFieldReminder {
  color: #333;
  font-size: 14px;
  font-style: italic;
  text-align: right;
  margin-top: 10px;
}
.table {
  min-width: 1000px;
}
.text {
  width: 350px;
}
