.backButton {
  text-align: left;
}
.body {
  background-color: white;
  border-radius: 10px;
  padding: 30px 30px;
  width: calc(80% - 40px);
}
.error {
  color: red;
}
.heading {
  border-bottom-color: #ddd;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  display: grid;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  grid-template-columns: 20% 60% 20%;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}
.input {
  display:flex;
  justify-content: space-evenly;
  padding: 10px;
}
.inputTop {
  display:flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  padding-top: 20px;
}
.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 20px;
  background-color: #eee;
  min-height: calc(100vh - 90px);
  overflow: auto;  
 
}
.text {
  width: 350px;
}