.logo {
  height: 70px;
  margin: 15px;
  
}
.logoPosition {
  padding-left: 60%;
}

.navbar {
  background-color: #eee;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  display: grid;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  grid-template-columns: 25% 50% 25%;
  height: 90px;
  padding: 0px 0px;
  position: sticky;
  top: 0;
  z-index: 98;
}

.navbarTitle {
  color: black;
  display: inline;
  font-size: 24px;
  font-weight: 00;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
}